<footer class="page-footer font-small bg-danger pt-4">
    <div iv class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">

                    <li>
                        <a href="https://pt-br.facebook.com/" target="_blank"
                        class="icoFace">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    </li>
    
                    <li>
                        <a href="https://www.instagram.com/" target="_blank"
                        class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    </li>
    
                    <li>
                         <a href="https://twitter.com/" target="_blank"
                                class="icoTwitter">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </div>

    <div class="footer-copyright bg-danger text-center py-3">
        <span class="text-light" > © 2021 Copyright: Otakugram</span>
    </div>

</footer>